.wrapper {
  display: flex;
  height: 100dvh !important;
  padding: 0 24px;
}

.inner {
  display: grid;
  grid-template: 1fr auto 1fr / 1fr;
}

.heading1Wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

.heading1 {
  font-size: 4rem;
}

.textsWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 0 24px;
}

.resultBlock {
  font-size: 2.4rem;
}

.linksWrapper {
  display: flex;
  gap: 24px;
}

.imageWrapper {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}
